.navbar{
    min-height: 40px;
    margin-bottom: 15px;
}
.navbar-nav > li > a{
    padding-bottom: 10px ;
    padding-top: 10px;
}
.navbar-nav > li.home > a{
    padding-left: 35px;
    background: url("../images/icons/homepage.png") no-repeat 10px center;
}
.navbar-nav > li.home:hover > a{
    background: url("../images/icons/red-homepage-02.png") no-repeat 10px center;
}
/*table*/
.table-style-01{
    border-collapse: separate;
    border-spacing: 0;
}
.table-style-01.table>thead>tr>th{
    border: 1px solid #f5f5f5;
    font-weight: 100;
}
.table-style-01 > thead{
    font: 14px "Roboto";
    color: #f5f5f5;
    text-transform: uppercase;
    background: #015489;
    padding-left: 15px;
}
/*.table-style-01 > tbody > tr > td,.table-style-01 > tfoot > tr > td{
    vertical-align: top;
    border: 1px solid #f5f5f5;
}
.table-style-01 > tbody > tr:nth-child(even){
    background: #d9edf7;
}
.table-style-01 > tbody > tr:nth-child(odd){
    background: #ffffff;
}
.table-style-01 > tbody > tr:hover{
    background: #f2dede;
}*/

.table-style-01 tfoot {
    background: SeaGreen;
    color: white;
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Roboto";
}
input[type=radio], input[type=checkbox]{
    margin: 0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    padding: 5px ;
}
label{
    white-space: nowrap;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td,.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
    border: 1px solid #e3e3e3;
}
button.style-01.active,button.style-01:hover {
    background: #015489;
    border: 1px solid #015489;
    color: #ffffff;
}
button.style-01{
    background: #ffffff;
    color: #015489;
    border: 1px solid #015489;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-group > button{
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 3px 8px;
}
.btn-group > button.bought{
    background: orange;
}
.btn-group > button.over-stock,  .btn-group > button.consignee{
    background: #cccccc;
    color: #231F20;
}
.btn-group > button.deliver{
    background: green;
}
.btn-group > button:hover{
    background: #015489;
    color: #ffffff!important;
}