@media (min-width: 992px) {
    .navbar-collapse{
        padding: 0;
    }
    .container{
        width: 970px;
    }
    #hot-news > .content-box{
        height: 248px;
        overflow: hidden;
    }
    .list-items .item{
        /*width: 188px;
        height: 212px;*/
        text-align: center;
        overflow: hidden;
    }
    .list-items .item img{
        height: 212px;
        width: 168.5px;
    }
}