@media (min-width: 992px) {
    .navbar-collapse{
        padding: 0;
    }
    .container{
        width: 970px;
    }
    #hot-news > .content-box{
        height: 248px;
        overflow: hidden;
    }
    .list-items .item{
        /*width: 188px;
        height: 212px;*/
        text-align: center;
        overflow: hidden;
    }
    .list-items .item img{
        height: 212px;
        width: 168.5px;
    }
    #info-brand{
        padding-left: 10px;
    }
    #info-user{
        padding-right: 10px;
    }
    #link-relate{
        margin-left: 43px;
    }
}

@media (min-width: 320px) and (max-width: 677px){
    #link-relate{
        display: none;
    }
    .navbar-toggle{
        background: #ffffff;
    }
    .navbar-toggle .icon-bar{
        background: #FF0000;
    }
    #tool, #notice{
        display: none;
    }
    #rule ol > li{
        width: 100%;
        padding: 5px 15px;
        text-align: left;
    }
    .list-items .box_title a, .list-items .box_title > span{
        font-size: 12px;
    }
    .list-items .box_title .description{
        display: none;
    }
    .list-items .item{
        width: 100%;
    }
    .list-items .item img{
        max-width: 100%;
    }
    #contact > .item{
        width: 100%;
        float: left;
    }
    #hot-news{
        display: none;
    }
}